* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibre, "SFProDisplay-Semibold", "Helvetica Neue", "Segoe UI",
    Helvetica, Arial, sans-serif;
}

html,
body {
  /*Remove a rolagem horizontal: */
  overflow-x: hidden;
}

/*Browser ScrollBar Style:*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #dadada;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000b4;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--bg);
  /*Paleta cores tema claro: */
  --darkBg: black;
  --bgDiv: rgb(235, 235, 235);
  --bgDivDark: rgb(41, 41, 41);
  --linksColor: grey;
  --linksColorDark: white;
  --txtColor: grey;
  --txtColorDark: rgb(207, 207, 207);
  --titleColor: black;
  --footerTxtColor: grey;
}

.main[darkTheme] {
  /*
  transform: scale(1);
  transition: 1000ms ease-in-out;*/

  /*Paleta cores tema escuro: */
  --bg: rgb(32, 32, 32);
  --darkBg: white;
  --bgDiv: rgb(58, 58, 58);
  --bgDivDark: rgb(209, 209, 209);
  --linksColor: grey;
  --linksColorDark: rgb(0, 0, 0);
  --txtColor: rgb(185, 185, 185);
  --txtColorDark: rgb(97, 96, 96);
  --titleColor: white;
  --footerTxtColor: rgb(88, 88, 88);
}

h3 {
  color: var(--titleColor);
}

h2 {
  color: var(--titleColor);
}

.darkModeBtn {
  background: black;
  align-self: center;
  margin-right: 10px;
  text-align: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 2;
  border-radius: 100%;
}

box-icon {
  margin-top: 0.2rem;
}

header {
  display: flex;
  width: 100%;
  height: 5rem;
  align-items: center;
  position: fixed;
  justify-content: space-around;
  /*Para centralizar os items do header
  sem margem nos cantos (precisa de MediaQuery):

  justify-content: space-around;
  padding-left: 10rem;
  padding-right: 10rem;
  */
  vertical-align: middle;
  /*Não consegui deixar o header receber a
  cor "var(--bg)" sem ficar transparente :c*/
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
  z-index: 3;
}

header .logo {
  min-width: 2rem;
  min-height: 2rem;
  /*Centraliza com os demais ícones da página
  ao fazer o scroll 😉:*/
  margin-left: 1rem;
}

/*Menu hambúrguer animado: */
@media (max-width: 800px) {
  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    visibility: visible;
    z-index: 100;
    margin-bottom: -3.2rem;
    margin-left: 17.2rem;
  }
  .navBarList {
    visibility: hidden;
    display: flex;
    margin-top: 4.5px;
  }
  .navBarList[active] {
    visibility: visible;
    margin-right: -5rem;
  }
  .navBarList[active] a {
    font-size: 0.8rem;
  }
  .navBarList[active] .menu {
    margin-left: -10rem;
  }

  /*Estilização das linhas do menu hambúrguer:*/
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}
@media (min-width: 800px) {
  .menu {
    display: none;
  }
}

.navBarList {
  display: flex;
  list-style: none;
  z-index: 100;
}

.navBarList a {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: var(--txtColor);
  font-size: 1rem;
  font-weight: 600;
  line-height: 50px;
  transition: opacity 0.2s ease-in;
}

.divTitle {
  width: 60%;
  /* Alinha a subtitle msm com o width menor:*/
  display: contents;
}

.divTitle .title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 10rem; /*Se header fixo = 10rem
  se header não fixo = 3rem*/
  line-height: 1;
  color: var(--titleColor);
  z-index: 2;
}

.divTitle .subtitle {
  font-size: 1.5rem;
  padding: 12px;
  color: var(--txtColor);
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  width: 60%;
  z-index: 2;
}

.divDown {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /*Faz o botão ficar acima dos botões de download:*/
  flex-direction: column;
  padding-top: 1rem;
  z-index: 2;
}

.btnDown {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  color: white;
  background: #0a7cff;
  border: none;
  border-radius: 30px;
  line-height: 1;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  width: 40%;
  font-size: 20px;
  z-index: 2;
}

.storeDown {
  align-items: center;
  display: flex;
  flex-direction: line;
  justify-content: center;
  width: 60%;
}

.storeDown a {
  margin: 0 0.2rem;
}

.storeDown img {
  height: 2.5rem;
}

.mainImage {
  margin-top: 3rem;
  z-index: 1;
}

.mainImage img {
  width: 90%;
}

@media (max-width: 815px) {
  .divTitle {
    width: 90%;
  }

  .divTitle .title {
    font-size: 1.8rem;
    margin-top: 7rem; /*Se header fixo = 6.5rem
    se header não fixo = 3rem*/
  }

  .divTitle .subtitle {
    font-size: 1rem;
    width: 80%;
  }

  .btnDown {
    display: none;
  }

  .storeDown img {
    height: 2.5rem;
  }

  .grid {
    width: 60%;
    z-index: 2;
  }

  .grid p {
    font-size: 1rem;
  }

  .grid h3 {
    font-size: 1rem;
  }
  .resourcesGrid {
    display: inline-block;
    flex-direction: line;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4rem;
  }

  .grid {
    display: inline-block;
    justify-content: space-between;
  }

  .grid .cells {
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-bottom: 2rem;
    padding-top: 2rem;
    z-index: 2;
  }

  .grid .paddingTop {
    border-top: 1.5px solid var(--txtColor);
  }

  .grid .paddingLeft {
    border-top: 1.5px solid var(--txtColor);
  }

  .grid img {
    margin-bottom: 5px;
    align-self: left;
    width: 2.5rem;
  }

  .grid p {
    margin-top: 5px;
    color: var(--txtColor);
    width: 100%;
  }

  .darkMode {
    width: 650vh;
    height: 650vh;
  }
}

@media (max-width: 550px) {
  .storeDown img {
    height: 2.5rem;
  }

  .mobileContainer .up {
    margin-top: 2rem;
    z-index: 2;
    color: var(--titleColor);
  }

  .down {
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }

  .containerMain .title {
    display: none;
  }

  .containerIllustration {
    display: none;
  }

  .divTitle {
    width: 90%;
  }

  /*Emojis em frente da .mainImage: */
  .emojis {
    position: relative;
  }

  .emojis .emojiIcon {
    width: 20%;
    z-index: -1;
    position: absolute;
  }

  /*---------Emojis on left side:*/

  /*Two Hearts*/
  .emojiIcon:nth-of-type(1) {
    left: 0px;
    bottom: 380px;
    transform: rotate(-20deg);
  }

  /*Smile*/
  .emojiIcon:nth-of-type(2) {
    left: 0px;
    bottom: 150px;
    transform: rotate(0deg);
    width: 25%;
    z-index: 1;
  }

  /*Surprise*/
  .emojiIcon:nth-of-type(3) {
    left: 0px;
    bottom: -20px;
    transform: rotate(0deg);
    z-index: 1;
  }

  /*---------Emojis on right side:*/

  /*Love*/
  .emojiIcon:nth-of-type(4) {
    right: 0px;
    bottom: 420px;
    transform: rotate(20deg);
    z-index: 1;
  }

  /*100*/
  .emojiIcon:nth-of-type(5) {
    right: 20px;
    bottom: 180px;
    transform: rotate(20deg);
    z-index: 1;
  }

  /*Two Hearts Bottom*/
  .emojiIcon:nth-of-type(6) {
    right: 20px;
    bottom: -90px;
    transform: rotate(20deg);
  }
}

@media (min-width: 550px) {
  .mobileContainer {
    display: none;
  }

  /*Emojis em frente da .mainImage: */
  .emojis {
    position: relative;
  }

  .emojis .emojiIcon {
    width: 20%;
    z-index: -1;
    position: absolute;
  }

  /*---------Emojis on left side:*/

  /*Two Hearts*/
  .emojiIcon:nth-of-type(1) {
    left: 0px;
    bottom: 450px;
    transform: rotate(-20deg);
  }

  /*Smile*/
  .emojiIcon:nth-of-type(2) {
    left: 10px;
    bottom: 160px;
    transform: rotate(0deg);
    width: 25%;
    z-index: 1;
  }

  /*Surprise*/
  .emojiIcon:nth-of-type(3) {
    left: 0px;
    bottom: -50px;
    transform: rotate(0deg);
    z-index: 1;
  }

  /*---------Emojis on right side:*/

  /*Love*/
  .emojiIcon:nth-of-type(4) {
    right: 0px;
    bottom: 450px;
    transform: rotate(20deg);
    z-index: 1;
  }

  /*100*/
  .emojiIcon:nth-of-type(5) {
    right: 20px;
    bottom: 200px;
    transform: rotate(20deg);
    z-index: 1;
  }

  /*Two Hearts Bottom*/
  .emojiIcon:nth-of-type(6) {
    right: 26px;
    bottom: -40px;
    transform: rotate(20deg);
    z-index: 1;
  }
}

@media (min-width: 815px) {
  .resourcesGrid {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 3rem;
    margin-bottom: 6rem;
    z-index: 2;
  }

  .grid {
    display: flex;
    justify-content: space-between;
  }

  .grid .cells {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    z-index: 2;
  }

  .grid .paddingTop {
    padding-top: 3rem;
  }

  .grid .paddingBottom {
    padding-bottom: 3rem;
    border-bottom: 1.5px solid var(--txtColor);
  }

  .grid .paddingRight {
    padding-right: 3rem;
    border-right: 1.5px solid var(--txtColor);
  }

  .grid .paddingLeft {
    padding-left: 3rem;
  }

  .grid img {
    margin-bottom: 5px;
    align-self: left;
    width: 2.5rem;
  }

  .grid p {
    margin-top: 5px;
    color: var(--txtColor);
    width: 100%;
  }

  /*Emojis em frente da .mainImage: */
  .emojis {
    position: relative;
  }

  .emojis .emojiIcon {
    width: 20%;
    z-index: -1;
    position: absolute;
  }

  /*---------Emojis on left side:*/

  /*Two Hearts*/
  .emojiIcon:nth-of-type(1) {
    left: 0px;
    bottom: 700px;
    transform: rotate(-20deg);
  }

  /*Smile*/
  .emojiIcon:nth-of-type(2) {
    left: 0px;
    bottom: 300px;
    transform: rotate(0deg);
    width: 25%;
    z-index: 1;
  }

  /*Surprise*/
  .emojiIcon:nth-of-type(3) {
    left: -10px;
    bottom: -20px;
    transform: rotate(0deg);
    z-index: 1;
  }

  /*---------Emojis on right side:*/

  /*Love*/
  .emojiIcon:nth-of-type(4) {
    right: 0px;
    bottom: 650px;
    transform: rotate(20deg);
    z-index: 1;
  }

  /*100*/
  .emojiIcon:nth-of-type(5) {
    right: -10px;
    bottom: 300px;
    transform: rotate(20deg);
    z-index: 1;
  }

  /*Two Hearts Bottom*/
  .emojiIcon:nth-of-type(6) {
    right: 0px;
    bottom: -100px;
    transform: rotate(20deg);
  }
}

@media (max-width: 1300px) {
  container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    flex-direction: column;
    background: var(--bgDiv);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.473);
    z-index: 2;
  }

  .mobileContainer {
    display: hidden;
    z-index: 2;
  }

  .containerMain .title {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2;
    padding-top: 5rem;
    padding-left: 5rem;
    text-align: center;
    width: 80%;
  }

  .title button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    color: white;
    background: #0a7cff;
    border: none;
    border-radius: 30px;
    line-height: 1;
    padding: 1rem 2rem;
    margin-top: 2rem;
    width: 100%;
    font-size: 16px;
  }

  .down {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
  }

  .down img {
    width: 7rem;
    margin: 3px;
  }

  .containerIllustration {
    width: 70%;
    margin: 2rem 2rem;
  }
}

@media (min-width: 1300px) {
  container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    flex-direction: row;
    background: var(--bgDiv);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.473);
    z-index: 2;
  }

  .mobileContainer {
    display: none;
  }

  .containerMain {
    margin-right: -10rem;
  }

  .containerMain .title {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2;
    padding-left: 5rem;
    text-align: center;
    width: 60%;
  }

  .title button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    color: white;
    background: #0a7cff;
    border: none;
    border-radius: 30px;
    line-height: 1;
    padding: 1rem 2rem;
    margin-top: 2rem;
    width: 100%;
    font-size: 16px;
  }

  .down {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
  }

  .down img {
    width: 8rem;
    margin: 3px;
  }

  .containerIllustration {
    width: 50%;
    margin: 2rem 2rem;
  }
}

/*Emojis em frente da .mainImage: */
@media (min-width: 940px) {
  .emojis {
    position: relative;
  }

  .emojis .emojiIcon {
    width: 20%;
    z-index: -1;
    position: absolute;
  }

  /*---------Emojis on left side:*/

  /*Two Hearts*/
  .emojiIcon:nth-of-type(1) {
    left: -20px;
    bottom: 580px;
    transform: rotate(-20deg);
  }

  /*Smile*/
  .emojiIcon:nth-of-type(2) {
    left: -70px;
    bottom: 300px;
    transform: rotate(0deg);
    width: 25%;
    z-index: 1;
  }

  /*Surprise*/
  .emojiIcon:nth-of-type(3) {
    left: -50px;
    bottom: -20px;
    transform: rotate(0deg);
    z-index: 1;
  }

  /*---------Emojis on right side:*/

  /*Love*/
  .emojiIcon:nth-of-type(4) {
    right: 0px;
    bottom: 700px;
    transform: rotate(20deg);
    z-index: 1;
  }

  /*100*/
  .emojiIcon:nth-of-type(5) {
    right: -50px;
    bottom: 300px;
    transform: rotate(20deg);
    z-index: 1;
  }

  /*Two Hearts Bottom*/
  .emojiIcon:nth-of-type(6) {
    right: -50px;
    bottom: -100px;
    transform: rotate(20deg);
  }
}

/*Emojis em frente da .mainImage: */
@media (max-width: 380px) {
  /*Emojis em frente da .mainImage: */
  .emojis {
    position: relative;
  }

  .emojis .emojiIcon {
    width: 20%;
    z-index: -1;
    position: absolute;
  }

  /*---------Emojis on left side:*/

  /*Two Hearts*/
  .emojiIcon:nth-of-type(1) {
    left: 0px;
    bottom: 250px;
    transform: rotate(-20deg);
  }

  /*Smile*/
  .emojiIcon:nth-of-type(2) {
    left: 0px;
    bottom: 120px;
    transform: rotate(0deg);
    width: 25%;
    z-index: 1;
  }

  /*Surprise*/
  .emojiIcon:nth-of-type(3) {
    left: 0px;
    bottom: -30px;
    transform: rotate(0deg);
    z-index: 1;
  }

  /*---------Emojis on right side:*/

  /*Love*/
  .emojiIcon:nth-of-type(4) {
    right: 0px;
    bottom: 270px;
    transform: rotate(20deg);
    z-index: 1;
  }

  /*100*/
  .emojiIcon:nth-of-type(5) {
    right: 10px;
    bottom: 130px;
    transform: rotate(20deg);
    z-index: 1;
  }

  /*Two Hearts Bottom*/
  .emojiIcon:nth-of-type(6) {
    right: 6px;
    bottom: -50px;
    transform: rotate(20deg);
  }
}

footer {
  height: 6rem;
  width: 100%;
  margin-top: 6rem;
  background: var(--bgDivDark);
  display: flex;
  /*Permite o conteúdo quebrar um abaixo do outro
  se o width requisitar:*/
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 1rem;
  z-index: 2;
}

footer p {
  padding: 1rem;
  color: var(--footerTxtColor);
}

footer a {
  color: var(--linksColorDark);
  text-decoration: none;
  font-weight: normal;
}
