* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg: white;
  --darkBg: black;
  --bgDiv: white;
  --txtColor: grey;
  --txtColorDark: rgb(207, 207, 207);
  --titleColor: black;
  font-family: Calibre, "SFProDisplay-Semibold", "Helvetica Neue", "Segoe UI",
    Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  width: 100%;
  height: 5rem;
  align-items: center;
  position: fixed;
  justify-content: space-around;
  /*Centraliza com os demais ícones da página
  ao fazer o scroll 😉:*/
  margin-right: 1rem;
  /*Para centralizar os items do header
  sem margem nos cantos (precisa de MediaQuery):

  justify-content: space-around;
  padding-left: 10rem;
  padding-right: 10rem;
  */
  vertical-align: middle;
  background: var(--bg);
}

header .logo {
  width: 2rem;
  height: 2rem;
}

.navBarList {
  display: flex;
  list-style: none;
}

.navBarList a {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: var(--txtColor);
  font-size: 1rem;
  font-weight: 600;
  line-height: 50px;
  transition: opacity 0.2s ease-in;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--bg);
}

.divTitle {
  width: 60%;
  display: contents;
}

.divTitle .title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 10rem; /*Se header fixo = 10rem
  se header não fixo = 3rem*/
  line-height: 1;
  color: var(--titleColor);
}

.divTitle .subtitle {
  font-size: 1.5rem;
  padding: 12px;
  color: var(--txtColor);
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  width: 60%;
}

.divDown {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /*Faz o botão ficar acima dos botões de download:*/
  flex-direction: column;
  padding-top: 1rem;
}

.btnDown {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  color: white;
  background: #0a7cff;
  border: none;
  border-radius: 30px;
  line-height: 1;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  width: 80%;
  font-size: 20px;
}

.storeDown {
  align-items: center;
  display: flex;
  flex-direction: line;
  justify-content: center;
  width: 60%;
}

.storeDown a {
  margin: 0 0.2rem;
}

.storeDown img {
  height: 8vh;
  border-radius: 8px;
}

.mainImage {
  margin-top: 3rem;
}

.mainImage img {
  width: 90%;
}

@media (max-width: 815px) {
  .divTitle {
    width: 90%;
  }

  .divTitle .title {
    font-size: 2rem;
    margin-top: 7rem; /*Se header fixo = 6.5rem
    se header não fixo = 3rem*/
  }

  .divTitle .subtitle {
    font-size: 1rem;
    width: 80%;
  }

  .btnDown {
    display: none;
  }

  .storeDown img {
    height: 6vh;
  }

  .grid {
    width: 60%;
  }

  .grid p {
    font-size: 1rem;
  }

  .grid h3 {
    font-size: 1rem;
  }
  .resourcesGrid {
    display: inline-block;
    flex-direction: line;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4rem;
  }

  .grid {
    display: inline-block;
    justify-content: space-between;
  }

  .grid .cells {
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .grid .paddingTop {
    border-top: 1.5px solid var(--txtColor);
  }

  .grid .paddingLeft {
    border-top: 1.5px solid var(--txtColor);
  }

  .grid img {
    margin-bottom: 5px;
    align-self: left;
    width: 6vh;
  }

  .grid p {
    margin-top: 5px;
    color: var(--txtColor);
    width: 100%;
  }
}

@media (min-width: 815px) {
  .resourcesGrid {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .grid {
    display: flex;
    justify-content: space-between;
  }

  .grid .cells {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .grid .paddingTop {
    padding-top: 3rem;
  }

  .grid .paddingBottom {
    padding-bottom: 3rem;
    border-bottom: 1.5px solid var(--txtColor);
  }

  .grid .paddingRight {
    padding-right: 3rem;
    border-right: 1.5px solid var(--txtColor);
  }

  .grid .paddingLeft {
    padding-left: 3rem;
  }

  .grid img {
    margin-bottom: 5px;
    align-self: left;
    width: 6vh;
  }

  .grid p {
    margin-top: 5px;
    color: var(--txtColor);
    width: 100%;
  }
}
